# List of untracked files to ignore
.buildtool
tbx/docstardoc/**/*.html
tbx/docstardoc/**/*.png
tbx/docstardoc/helptoc.xml
tbx/docstardoc/info.xml
tbx/docstardoc/custom_toolbox.json
tbx/docstardoc/resources
tbx/docstardoc/helpsearch-v*
releases/*.mltbx