main {
    padding: 30px;
}

h1 {
    color: rgb(213, 80, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

h2 {
    color: rgb(60, 60, 60);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

h3 {
    color: rgb(60, 60, 60);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

/*

pre code span {
    background-color: #F7F7F7;
    margin: 10px 0 10px 0;
}

.S1 {
    margin: 2px 10px 9px 4px;
    padding: 0px;
    line-height: 21px;
    min-height: 0px;
    white-space: pre-wrap;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

pre code span {
    border-left: 1px solid rgb(233, 233, 233);
    border-right: 1px solid rgb(233, 233, 233);
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    padding: 6px 45px 4px 13px;
    line-height: 17.234px;
    min-height: 18px;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
}

.S4 {
    margin: 10px 10px 9px 4px;
    padding: 0px;
    line-height: 21px;
    min-height: 0px;
    white-space: pre-wrap;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

main {
    padding: 30px;
}

*/