h1, h2, h3, h4, h5, h6 {
    color: rgb(213, 80, 0);
}

th {
    color: white;
    background-color: rgb(213, 80, 0);
}

.markdown-body hr {
    height: 1px;
}

main.markdown-body {
    margin-left: 1em;
    margin-right: 1em;
}
