main {
    padding: 10px;
}

h1 {
    color: rgb(213, 80, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

h2 {
    color: rgb(60, 60, 60);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

h3 {
    color: rgb(60, 60, 60);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

p, li, th, td {
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

p code, td code {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    padding: 2px 4px;
    color: rgb(0, 0, 0);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
}

pre {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
    padding: 10px 10px;
    color: rgb(0, 0, 0);
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
}

table {
    border: 1px solid rgb(233, 233, 233);
    border-radius: 4px;
}

th {
    color: white;
    background-color: rgb(213, 80, 0);
}

th, td {
    padding: 4px 8px;
}

.collapsible {
    background-color: rgb(249,249,249);
    color: rgb(51,51,51);
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(237,237,237);
  }
  
  .collapsible:after {
    content: '\002B';
    color: rgb(51,51,51);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }