name: MATLAB DocMaker Actions

on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
      DOCMAKER_GITHUB_TOKEN: ${{ secrets.DOCMAKER_GITHUB_TOKEN }}

jobs:
  
  run-tests:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
        matlab-version: [R2022b, R2023b, R2024b, R2025b]
    runs-on: ${{ matrix.platform }}    
    continue-on-error: false
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Start a display server for jobs running on Linux
        if: ${{ matrix.platform == 'ubuntu-latest' }}
        run: |
          sudo apt-get install -y xvfb
          Xvfb :99 &
          echo "DISPLAY=:99" >> $GITHUB_ENV      

      - name: Set up MATLAB on the runner
        uses: matlab-actions/setup-matlab@v2
        with:
          products: MATLAB
          release: ${{ matrix.matlab-version }}

      - name: Run the toolbox tests
        uses: matlab-actions/run-tests@v2

  package-and-release-toolbox:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Extract version from tag
      shell: bash
      run: |
        VERSION="${GITHUB_REF#refs/tags/v}"
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Extract release notes
      shell: bash
      id: extract_notes
      run: |
        TAG_NAME="${GITHUB_REF#refs/tags/v}"        
        awk "/^## Version $TAG_NAME\$/ {flag=1; next} /^## Version / {flag=0} flag" tbx/docmakerdoc/changelog.md > RELEASE_NOTES.md        
        sed -i ':a;/^\n*$/{$d;N;ba}' RELEASE_NOTES.md        
        echo "notes<<EOF" >> $GITHUB_OUTPUT
        cat RELEASE_NOTES.md >> $GITHUB_OUTPUT
        echo "EOF" >> $GITHUB_OUTPUT

    - name: Set up MATLAB on the runner
      uses: matlab-actions/setup-matlab@v2
      with:
        products: MATLAB
        release: R2025b

    - name: Package toolbox
      uses: matlab-actions/run-build@v2
      with:
        tasks: package
        build-options: -skip test -skip check

    - name: Release toolbox
      uses: softprops/action-gh-release@v2
      with:
        name: MATLAB DocMaker ${{ env.VERSION }}
        tag_name: v${{ env.VERSION }}
        body: ${{ steps.extract_notes.outputs.notes }}
        draft: false
        make_latest: true
        files: releases/MATLAB_DocMaker.mltbx
      env:

        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
