name: MATLAB DocMaker Toolbox Continuous Integration

on:
  push:
    branches: [master]
    tags:
      - 'v*'
  pull_request:
    branches: [master]
  workflow_dispatch:

env:
      DOCMAKER_GITHUB_TOKEN: ${{ secrets.DOCMAKER_GITHUB_TOKEN }}

jobs:

  show-tag:
    runs-on: windows-latest
    steps:
      - name: Show GITHUB_REF
        run: echo "GITHUB_REF is $GITHUB_REF"
  
  # run-tests:
  #   strategy:
  #     matrix:
  #       platform: [ubuntu-latest, windows-latest]
  #       matlab-version: [R2025b]
  #   runs-on: ${{ matrix.platform }}    
  #   continue-on-error: false
  #   steps:
  #     - name: Check out the repository
  #       uses: actions/checkout@v4

  #     - name: Start a display server for jobs running on Linux
  #       if: ${{ matrix.platform == 'ubuntu-latest' }}
  #       run: |
  #         sudo apt-get install -y xvfb
  #         Xvfb :99 &
  #         echo "DISPLAY=:99" >> $GITHUB_ENV      

  #     - name: Set up MATLAB on the runner
  #       uses: matlab-actions/setup-matlab@v2
  #       with:
  #         products: MATLAB
  #         release: ${{ matrix.matlab-version }}

  #     - name: Run the toolbox tests
  #       uses: matlab-actions/run-tests@v2

  package-and-release-toolbox:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: windows-latest
    
    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Retrieve version from Git tag
      id: vars
      run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

    - name: Set up MATLAB on the runner
      uses: matlab-actions/setup-matlab@v2
      with:
        products: MATLAB
        release: R2025b

    - name: Package toolbox
      uses: matlab-actions/run-build@v2
      with:
        tasks: package
        build-options: -skip test -skip check

    - name: Release toolbox
      uses: softprops/action-gh-release@v2
      with:
        name: MATLAB DocMaker ${{ env.VERSION }}
        tag_name: v${{ env.VERSION }}
        make_latest: true
        files: releases/MATLAB_DocMaker.mltbx
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}